.wrapper {
	width: 640px;
	margin: 0 auto;
}

#slider {
	height:300px;
	width:640px;
	overflow:hidden;
	margin:30px auto;
	border-radius: 10px;
}

#slider > img{
	width:640px;
	height:300px;
	float:left;
	display:none;
}

a {
	padding: 5px 10px;
	background-color: #F0F0F0;
	margin-top:30px;
	text-decoration: none;
	color: #666;
}

a.left{
	float:left;
}
a.right{
	float:right;
}